.doc {
    display: flex;

}

.text {
    margin-left: 40px;
}

  

.wraper{
    display: flex;
    justify-content: space-between;
}


.outer {
    margin: 0px;
    padding: 0px;
    width: 70px;
    height: 100%;
    transition: width 0.5s;
    overflow: hidden;
    z-index: 2;
position: fixed;
}

.inner {
    width: 300px;
    height: 100px;
    list-style-type: none;
    background-color: brown;

}

.outer:hover {
    width: 200px;
}


.inner1 {
    width: 300px;
    height: 1000px;
    list-style-type: none;
    background-color: brown;

}

.inner3 {
    padding-top: 5px;
    padding-left: 10px;
    width: 300px;
    height: 40px;
    list-style-type: none;
    background-color: brown;
}

.slova{
    font-weight: bold;
position: relative;
bottom: 30px;



}
.text {
    margin-left: 100px;
    padding-left: 30px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
     }

     .inner  :hover{
         width: 300px;
         background-color: rgb(202, 86, 86);
     }
