li{
    list-style-type: none;
    display: inline;
    position: relative;
    top: 15px;
    justify-content: space-between;
    padding: 20px;
}

.verx{
    margin-left: 17px;
    background-color: rgb(215, 80, 80);
    width: 94%;
    height: 60px;
}
li:hover {
    top: 20px;
    background-color: brown;
    height: 50px;
}
header{
    padding: 0px;
    margin: 0px;
}
.doc{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 21px;
}
.foto{
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(231 231 231);


}
.fot{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 20px;
    border: 1px solid;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.fot1{
    float: left;
}
.im{
    text-align: center;
    justify-content: center;
}
.si{
    margin-left: 20px;
}
td{
    padding: 4px;
}
td:first-child{
    text-transform: capitalize;
    font-weight: 700;
}