body{
    display: flex;
}
.up{
    margin-top: 28px;
}

.b1{
    background-color: blueviolet;
    color: antiquewhite;
    position: absolute;
    padding: 10px;
    margin-top: 18px;
    top: -25px;
    display: none;
    cursor: pointer;
}

b1::after {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    content: '';
    transform: rotate(45deg);
    left: calc(50% - 5px);
    top: calc(100% - 5px);
}

.toolip1{
    text-align: center;
    margin: 20px;

}

.b2{
    background-color: blueviolet;
    color: beige;
    position: relative;
    padding: 10px;
    top: 5px;
    display: none;
}

b2::after {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    content: '';
    transform: rotate(45deg);
    left: calc(50% - 5px);
    top: calc(0% - 5px);
}
